<div class="tutorial-container">
  <h2 class="tutorial-title">HandsSpeak: Conectando comunidades</h2>
  <p class="tutorial-text">
    En LSO, creemos que la comunicación es un puente esencial para unir a las personas. 
    Nuestra plataforma facilita la conexión entre personas sordas y oyentes, promoviendo la inclusión y la diversidad 
    a través de la traducción en tiempo real de la lengua de señas.
  </p>
  <p class="tutorial-text">
    ¿No sabes cómo usar LSO? ¡No te preocupes! Te invitamos a ver este video tutorial para empezar.
  </p>
  
  <div class="video-container">
    <video controls>
      <source src="assets/tutorial.mp4" type="video/mp4">
      Tu navegador no soporta la reproducción de videos.
    </video>
  </div>
</div>
