<div class="content">
  <img src="/multimedia/fondo.jpeg" class="fondo">
  <div class="navbar">
    <img src="/multimedia/Logo .png" class="icon" />
    <button 
    (click)="selectedTab = 'tutorial'" 
    [class.active]="selectedTab === 'tutorial'" 
    class="nav-btn">VIDEO TUTORIAL</button>
  
  <button 
    (click)="selectedTab = 'traductor'" 
    [class.active]="selectedTab === 'traductor'" 
    class="nav-btn">TRADUCTOR LCO</button>
  
  <button 
    (click)="selectedTab = 'manual'" 
    [class.active]="selectedTab === 'manual'" 
    class="nav-btn">MANUAL DE USUARIO</button>
  
  </div>

  <!-- MODAL SEÑAS -->
  <div class="modal" *ngIf="modalAbierto === 'senas'">
    <div class="modal-content">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h3>Señas a Texto</h3>

      <div class="modal-body">
        <!-- Cámara -->
        <div class="camera-box">
          <video #videoElement autoplay playsinline></video>
        </div>

        <!-- Resultado -->
        <div class="result-box">
          <p>{{ letra }}</p>
        </div>
      </div>

      <!-- Botón abajo -->
      <div class="modal-footer">
        <button (click)="procesarSenia()">Procesar Seña</button>
      </div>
    </div>
  </div>

  <!-- MODAL ALFABETO -->
  <div class="modal" *ngIf="modalAbierto === 'alfabeto'">
    <div class="modal-content">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h3>Alfabeto</h3>
      <p>Contenido del modal del alfabeto.</p>
      <img src="/multimedia/alfabeto_guia.png" class="alfabeto">
      <h6>Imagen sacada de ciapatcolombia</h6>
      <a href="https://ciapatcolombia.org/producto/abecedario-lengua-de-senas/" target="_blank">
        https://ciapatcolombia.org/producto/abecedario-lengua-de-senas/
      </a>
      
    </div>
  </div>

  <!-- Contenido Traductor -->
  <div class="tab-content" *ngIf="selectedTab === 'traductor'">
    <h2>Bienvenido/a Talksings</h2>
    <div class="buttons-container">
      <button (click)="abrirModal('senas')">ENTRAR DE SEÑAS A TEXTO</button>
      <button (click)="abrirModal('alfabeto')">ENTRAR AL ALFABETO</button>
    </div>
  </div>

  <!-- Tutorial -->
  <div class="tab-content" *ngIf="selectedTab === 'tutorial'">
    <app-tutorial></app-tutorial>
  </div>

  <!-- Manual -->
  <div class="tab-content" *ngIf="selectedTab === 'manual'">
    <app-manual></app-manual>
  </div>
</div>