.manual-container {
    text-align: center;
    padding: 5%;
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
  
  /* Título del manual */
  .manual-title {
    color: #003399;
  }
  
  .manual-pdf {
    height: 70%;
    width: 80%;

  }
  
  
